<div
  class="container mt-3 d-flex flex-column align-items-center justify-content-center text-light"
>
  <h1 class="display-5 text-center mt-5">Login</h1>

  <div
    class="row justify-content-center align-items-center rounded mt-5 bg-info"
  >
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="submit(form)">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            class="form-control"
            ngModel
          />
        </div>
        <div class="form-group mt-4">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            class="form-control"
            ngModel
          />
        </div>
        <button
          type="submit"
          class="btn btn-outline-dark mt-4"
          [disabled]="form.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
<!-- <div class="login-box align-self-center">
  <h2>Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="" />
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="" class="mb-0" />
      <label>Password</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div> -->
