.navbar,
.container-fluid {
  height: 100vh;
  min-width: 100px;
}

.container-fluid {
  height: 100vh;
}

.navbar-nav {
  height: 82vh;
}

.logo-1 {
  display: none;
}

.nav-link {
  color: rgb(163, 163, 163);
  font-weight: bold;
  font-size: 18px;

  &:hover {
    color: white;
  }
}

.nav-link.active {
  color: white;
}

.bg-postshare {
  background-color: #1e1e21;
}

.title-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .title-nav {
    display: inline;
  }

  .logo-1 {
    display: inline-block;
  }

  .logo-2 {
    display: none;
  }

  .navbar,
  .container-fluid {
    height: 100vh;
    min-width: 280px;
  }
}
