<div
  class="container mt-3 d-flex flex-column align-items-center justify-content-center text-light"
>
  <h1 class="display-5">New Post</h1>
  <div class="row justify-content-center align-items-center mt-3">
    <div class="col-10">
      <form [formGroup]="postForm" (ngSubmit)="addPost()">
        <div class="form-group">
          <label for="title">Titolo</label>
          <input
            type="text"
            id="title"
            class="form-control"
            formControlName="title"
          />
        </div>
        <div class="form-group">
          <label for="body">Contenuto</label>
          <textarea
            id="body"
            class="form-control"
            formControlName="body"
            cols="20"
            rows="5"
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-outline-light mt-2"
          [disabled]="postForm.invalid"
        >
          Invia
        </button>
      </form>
    </div>
  </div>
</div>
