<div
  class="container mt-3 d-flex flex-column align-items-center justify-content-center text-light py-5"
>
  <h1 class="text-center display-5">Register</h1>
  <div
    class="row justify-content-center align-items-center border border-info rounded mt-3"
  >
    <div class="col-6">
      <form [formGroup]="form" (ngSubmit)="signUp()">
        <div class="form-group mt-3">
          <label for="name">Nome</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
          <span *ngIf="getFormC('name')?.invalid && getFormC('name')?.touched"
            ><ng-container *ngIf="geterrorsC('name', 'required')"
              >Campo obbligatorio</ng-container
            ></span
          >
        </div>
        <div class="form-group mt-3">
          <label for="surname">Cognome</label>
          <input
            type="text"
            id="surname"
            class="form-control"
            formControlName="surname"
          />
          <span
            *ngIf="getFormC('surname')?.invalid && getFormC('surname')?.touched"
            ><ng-container *ngIf="geterrorsC('surname', 'required')"
              >Campo obbligatorio</ng-container
            ></span
          >
        </div>
        <div class="form-group mt-3">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            formControlName="username"
          />
          <span
            *ngIf="
              getFormC('username')?.invalid && getFormC('username')?.touched
            "
            ><ng-container *ngIf="geterrorsC('username', 'required')"
              >Campo obbligatorio</ng-container
            ></span
          >
        </div>
        <div class="form-group mt-3">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
          />
          <span *ngIf="getFormC('email')?.invalid && getFormC('email')?.touched"
            ><ng-container *ngIf="geterrorsC('email', 'required')"
              >Campo obbligatorio</ng-container
            ></span
          >
        </div>
        <div class="form-group mt-3">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="min 8 caratteri"
          />
          <span
            *ngIf="
              getFormC('password')?.invalid && getFormC('password')?.touched
            "
            ><ng-container *ngIf="geterrorsC('password', 'required')"
              >Campo obbligatorio</ng-container
            ></span
          >
        </div>
        <div class="form-group mt-3">
          <label for="city">Città</label>
          <input
            type="text"
            id="city"
            class="form-control"
            formControlName="city"
          />
          <span *ngIf="getFormC('city')?.invalid && getFormC('city')?.touched"
            ><ng-container *ngIf="geterrorsC('city', 'required')"
              >Campo obbligatorio</ng-container
            ></span
          >
        </div>
        <div class="form-group mt-3">
          <label for="phone">Phone</label>
          <input
            type="text"
            id="phone"
            class="form-control"
            formControlName="phone"
          />
          <span *ngIf="getFormC('phone')?.invalid && getFormC('phone')?.touched"
            ><ng-container *ngIf="geterrorsC('phone', 'required')"
              >Campo obbligatorio</ng-container
            ></span
          >
        </div>
        <div class="form-group mt-3">
          <label for="imageProf">Scegli il tuo avatar</label>
          <select
            id="imageProf"
            name="imageProf"
            class="form-control"
            formControlName="imageProf"
          >
            <option value=""></option>
            <option
              value="https://images.unsplash.com/photo-1511886929837-354d827aae26?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            >
              Calcio
            </option>
            <option
              value="https://images.unsplash.com/photo-1542144582-1ba00456b5e3?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            >
              Tennis
            </option>
            <option
              value="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            >
              Parigi
            </option>
            <option
              value="https://images.unsplash.com/photo-1479090793912-eb9929f4fdb2?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            >
              luna
            </option>
            <option
              value="https://images.unsplash.com/photo-1518837695005-2083093ee35b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            >
              Mare
            </option>
          </select>
        </div>

        <button type="submit" class="btn btn-outline-info mt-4">Invia</button>
      </form>
    </div>
  </div>
</div>
