<div class="container-fluid mt-4">
  <div class="row px-3">
    <ng-container *ngFor="let post of posts">
      <div class="col-10 col-lg-6 col-xxl-4 gy-3">
        <div
          class="card pointer h-100 mb-2 text-white"
          (click)="changePage(post.id)"
        >
          <div class="card-body">
            <div *ngFor="let user of users">
              <div
                class="d-flex align-items-baseline"
                *ngIf="user.id === post.userId"
                id="card-user"
              >
                <div id="img-card-profile">
                  <img src="{{ user.imageProf }}" alt="" />
                </div>
                <p class="ms-2 fw-bold">{{ user.username }}</p>
              </div>
            </div>
            <h5 class="card-title text-capitalize">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.body }}
            </p>
            <!-- <div class="position-absolute bottom-0 end-0 m-2">
              <button class="btn btn-info">
                <i class="bi bi-heart-fill"></i>
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </ng-container>
    <div class="text-bg-light d-flex col-2" *ngFor="let user of users">
      <div id="user-prof"><img src="{{ user.imageProf }}" alt="" /></div>
      <div>
        <h3>{{ user.name }} {{ user.surname }}</h3>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>
</div>
