.pointer {
  cursor: pointer;
}

.bg-postshare {
  background-color: #303033;
}
.card {
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

// #2dc9f9 azzurro
// #1e1e21 grigio scuro
// #DCDCDC grigio chiaro
