<div class="container-fluid mt-4">
  <div class="row px-3">
    <ng-container *ngFor="let post of posts">
      <div class="col-12 col-lg-6 col-xxl-4 gy-3">
        <div class="card pointer h-100 mb-2" (click)="changePage(post.id)">
          <div class="card-body">
            <div class="d-flex align-items-baseline">
              <i class="bi bi-person-circle"></i>
              <p class="ms-2 fw-bold">User {{ post.userId }}</p>
            </div>
            <h5 class="card-title text-capitalize">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.body }}
            </p>
            <!-- <div class="position-absolute bottom-0 end-0 m-2">
              <button class="btn btn-info">
                <i class="bi bi-heart-fill"></i>
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
