<!-- assistenza.component.html -->
<div class="text-light">
  <h4>Supporto utenti:</h4>
  <form #form="ngForm" (ngSubmit)="sendEmail(form)">
    <div class="mb-3">
      <label for="destinatario" class="form-label">Destinatario:</label>
      <input
        type="text"
        class="form-control"
        id="destinatario"
        name="destinatario"
        ngModel
        required
      />
    </div>
    <div class="mb-3">
      <label for="oggetto" class="form-label">Oggetto:</label>
      <input
        type="text"
        class="form-control"
        id="oggetto"
        name="oggetto"
        ngModel
        required
      />
    </div>
    <div class="mb-3">
      <label for="corpo" class="form-label">Corpo:</label>
      <textarea
        class="form-control"
        id="corpo"
        name="corpo"
        ngModel
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-outline-info">Invia Email</button>
  </form>
</div>
