.router {
  width: calc(100vw - 118px);
  min-height: 100vh;
}

.bg-postshare {
  background-color: #1e1e21;
}

@media screen and (min-width: 768px) {
  .router {
    width: calc(100vw - 296px);
    min-height: 100vh;
  }
}

// #2dc9f9 azzurro
// #1e1e21 grigio scuro
// #DCDCDC grigio chiaro
