<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xxl-4">
      <h3 class="text-center my-4">Profilo</h3>
      <div class="d-flex justify-content-center">
        <div class="custom-card">
          <div class="additional">
            <div class="user-custom-card">
              <div id="prof-img" class="mx-auto mt-5 overflow-hidden">
                <img src="{{ userImageProf }}" alt="" />
              </div>
              <div class="points center">team leader</div>
            </div>
            <div class="more-info">
              <h3 id="margin-mine">{{ userName }} {{ userSurname }}</h3>
              <div
                class="d-flex flex-column justify-content-around text-white p-3 pt-0"
              >
                <div class="mb-3">
                  <div class="fw-bold">CITY</div>
                  <div>{{ userCity }}</div>
                </div>
                <div>
                  <div class="fw-bold">PHONE</div>
                  <div>{{ userPhone }}</div>
                </div>
              </div>
              <div class="stats">
                <div>
                  <div class="title">ID</div>
                  <i class="fa fa-trophy"></i>
                  <div class="value">{{ userId }}</div>
                </div>
                <div>
                  <div class="title">POST</div>
                  <i class="fa fa-gamepad"></i>
                  <div class="value">N POST</div>
                </div>

                <div>
                  <div class="title">Coffee</div>
                  <i class="fa fa-coffee"></i>
                  <div class="value infinity">∞</div>
                </div>
              </div>
            </div>
          </div>
          <div class="general">
            <h3>{{ userName }} {{ userSurname }}</h3>
            <div class="d-flex flex-column justify-content-around">
              <div class="mb-3">
                <div class="fw-bold">USERNAME</div>
                <div>{{ userUsername }}</div>
              </div>
              <div>
                <div class="fw-bold">EMAIL</div>
                <div>{{ userEmail }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xxl-8">
      <h3 class="text-center my-4">Post</h3>
      <div class="row">
        <ng-container *ngFor="let post of postsProf; let i = index">
          <div
            *ngIf="userId === post.userId"
            class="col-12 col-sm-6 col-md-4 col-xxl-4 mb-4 px-3"
          >
            <div class="card pointer h-100 mb-2">
              <div class="card-body">
                <div
                  class="d-flex justify-content-between align-items-baseline"
                >
                  <div class="d-flex align-items-baseline">
                    <i class="bi bi-person-circle"></i>
                    <p class="ms-2 fw-bold">User {{ post.userId }}</p>
                  </div>
                  <button
                    class="btn border-0 p-0"
                    (click)="removePost(post.id)"
                  >
                    <i class="bi bi-x-circle-fill fs-5 text-danger"></i>
                  </button>
                </div>
                <h5 class="card-title text-capitalize">
                  {{ post.title }}
                </h5>
                <p class="card-text">
                  {{ post.body }}
                </p>
                <div class="position-absolute bottom-0 end-0 m-3 z-1">
                  <a class="btn border-0 p-0" data-bs-toggle="collapse"  href="#{{post.id}}" role="button" aria-expanded="false" (click)="addValue(form, post.id)">
                    <i class="bi bi-pencil-square fs-5 text-warning"></i>
                  </a>
                </div>
              </div>
              <div class="collapse" id="{{post.id}}">
                <div class="card card-body border-0">
                  <form #form="ngForm" (ngSubmit)="editPost(form, post.id)">
                    <div class="form-group">
                        <label for="title">Titolo</label>
                        <input type="text" id="title" name="title" required class="form-control" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="body">Contenuto</label>
                        <textarea type="text" id="body" name="body" required class="form-control" ngModel cols="20" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-dark mt-2 " [disabled]="form.invalid">Salva</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
