<div class="container">
  <div class="center">
    <div class="card">
      <div class="additional">
        <div class="user-card">
          <div id="prof-img" class="mx-auto mt-5 overflow-hidden">
            <img
              src="https://plus.unsplash.com/premium_photo-1696863125459-1dba1ee2b9dd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
          <div class="points center">team leader</div>
        </div>
        <div class="more-info">
          <h1 id="margin-mine">Jane Doe</h1>
          <div
            class="d-flex flex-column justify-content-around text-white p-3 pt-0"
          >
            <div class="mb-3">
              <div class="fw-bold">CITY</div>
              <div>Placeholder</div>
            </div>
            <div>
              <div class="fw-bold">PHONE</div>
              <div>Placeholder</div>
            </div>
          </div>
          <div class="stats">
            <div>
              <div class="title">ID</div>
              <i class="fa fa-trophy"></i>
              <div class="value">##</div>
            </div>
            <div>
              <div class="title">POST</div>
              <i class="fa fa-gamepad"></i>
              <div class="value">N POST</div>
            </div>

            <div>
              <div class="title">Coffee</div>
              <i class="fa fa-coffee"></i>
              <div class="value infinity">∞</div>
            </div>
          </div>
        </div>
      </div>
      <div class="general">
        <h1>Jane Doe</h1>
        <div class="d-flex flex-column justify-content-around">
          <div class="mb-3">
            <div class="fw-bold">USERNAME</div>
            <div>Placeholder</div>
          </div>
          <div>
            <div class="fw-bold">EMAIL</div>
            <div>Placeholder@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
